.input {
  width: 100%;
  padding: 18px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: var(--color-input);
  color: var(--color-main);
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;

  &::placeholder {
    color: var(--color-gray);
    font-weight: 400;
  }
}
