.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  width: 112px;
  height: 96px;
  border-radius: 12px;
  text-align: center;
  gap: 8px;
}
