.location {
  margin-bottom: 40px;
}

.title {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-gray-light);
}

.sectionFilterList {
  display: flex;
  row-gap: 8px;
  column-gap: 12px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.searchButton {
  margin-top: 40px;
  width: 166px;
}
