.hero {
  background-image: url(../../assets/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  margin: auto 0;
  padding: 260px 64px;
  color: #ffffff;
}

.heroTitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}

.heroSubtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
