.reviewList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 44px 0;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--color-badges);
}

.avatarText {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: var(--color-button);
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.rating {
  display: flex;
  gap: 4px;
}

.fillStar {
  fill: var(--color-rating);
}

.emptyStar {
  fill: var(--color-badges);
}

.comment {
  font-size: 16px;
  color: var(--color-text);
}
