.button {
  display: flex;
  justify-content: center;
  align-self: center;
  border: none;
  background-color: var(--color-white);
  color: var(--color-main);
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  border-radius: 200px;
  padding: 16px 32px;
  height: 56px;
  border: 1px solid var(--color-gray-light);
  font-weight: 500;
  font-size: 16px;
  font-family: var(--font-family);
  cursor: pointer;
  line-height: normal;

  &.active,
  &:hover {
    border-color: var(--color-button-hover);
  }

  &.primary {
    background-color: var(--color-button);
    border-color: var(--color-button);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-button-hover);
    }
  }
}
